*{
    padding:0px;
    margin:0px;
    font-family: '宋体';
}
html,body{
     width:100%;
    background: url('../img/bg.jpg') no-repeat top center;
    background-size: 2000px auto;
    perspective: 800px;
    perspective-origin: 50px 300px;

}
/*li,a,button.clearfix等通用效果先初始化样式*/
li{
    list-style: none;
    float:left;
}
a{
    text-decoration: none;
}
button{
    border:none;
    outline: none;
    cursor: pointer;
}
.clearfix:after{
    content: " ";
    display:block;
    clear:both;
}
/*主体内容*/
.container{
    width:1033px;
    text-align: center;
    margin:0 auto;
}
.header> img{
    /*为了小屏能整屏撑下，采用百分比，原尺寸1366*768分辨率不能完全放下“面试大咖秀”banner*/
    width:70%;
    margin-top:46px;
    animation: shake 0.5s;
    -webkit-animation: shake 0.5s;
    -o-animation: shake 0.5s;
    -moz-animation: shake 0.5s;
}
/*自定义动画*/
@-webkit-keyframes shake{
    0%{
        -webkit-transform:rotateZ(0) translateZ(0px) scale(1,1);
    }
    25%{
        -webkit-transform:rotateZ(14deg) translateZ(15px) scale(1.1,1.1);
    }
    75%{
        -webkit-transform:rotateZ(-14deg) translateZ(15px) scale(1.1,1.1);
    }
    100%{
        -webkit-transform:rotateZ(0) translateZ(0px) scale(1,1);
    }
}
@-moz-keyframes shake{
    0%{
        -moz-transform:rotateZ(0) translateZ(0px) scale(1,1);
    }
    25%{
        -moz-transform:rotateZ(14deg) translateZ(15px) scale(1.1,1.1);
    }
    75%{
        -moz-transform:rotateZ(-14deg) translateZ(15px) scale(1.1,1.1);
    }
    100%{
        -moz-transform:rotateZ(0) translateZ(0px) scale(1,1);
    }
}
@-o-keyframes shake{
    0%{
        -o-transform:rotateZ(0) translateZ(0px) scale(1,1);
    }
    25%{
        -o-transform:rotateZ(14deg) translateZ(15px) scale(1.1,1.1);
    }
    75%{
        -o-transform:rotateZ(-14deg) translateZ(15px) scale(1.1,1.1);
    }
    100%{
        -o-transform:rotateZ(0) translateZ(0px) scale(1,1);
    }
}
@keyframes shake{
    0%{
        transform:rotateZ(0) translateZ(0px) scale(1,1);
    }
    25%{
        transform:rotateZ(14deg) translateZ(15px) scale(1.1,1.1);
    }
    75%{
        transform:rotateZ(-14deg) translateZ(15px) scale(1.1,1.1);
    }
    100%{
        transform:rotateZ(0) translateZ(0px) scale(1,1);
    }
}
.header a img{
    width:1001px;
    margin-top:-14px;
}
.tips{
    width:659px;
    margin:60px auto 48px;
}
/*tab选项卡style*/
.tabs{
    padding-left:64px;
}
.tabs li{
    width:229px;
    height:65px;
    line-height: 65px;
    color:#feda00;
    float:left;
    font-size: 22px;
    font-family: '微软雅黑';
    background: url('../img/tab_red.png') no-repeat;
    margin-right:5px;
}
.tabs li.active{
    background: url('../img/tab_yel.png');
    color:#ec1421;
}
.tab{
    display: none;
    box-sizing: border-box;
    position: relative;
    width:100%;
    padding:35px 28px 40px 20px;
    margin-top:-9px;
    height:381px;
    background: url('../img/tabbg.png');
    font-size: 16px;
    line-height: 21px;
}
.tab.active{
    display: block;
}
.tab > div{
    background: #fff;
    height:100%;
    width:491px;
    float:left;
}
.tab > div+div{
    float:right;
}
.tab div .pic{
    box-sizing: border-box;
    float:left;
    width:166px;
    padding-top:65px;
    padding-left:16px;
}
.tab div .description{
    box-sizing: border-box;
    float:left;
    width:325px;
    text-align: left;
    padding-left:17px;
}
.tab div .description p{
   line-height: 34px;
}
.tab div .description .title{
    width: 202px;
    font-size: 24px;
    line-height: 26px;
    font-family: '微软雅黑';
    margin-bottom:20px;
    margin-top:50px;
}

.tab div .description .btn button{
    margin:18px 5px 0;
    width:130px;
    height:43px;
    color:#fff;
    font-size: 18px;
    padding-left:25px;
    font-family: '微软雅黑';
}
.toSee{
    background: url('../img/btn_tosee.png') center;
}
.toPartici{
    background: url('../img/btn_topartici.png') center;
}
/*表格style*/
.table{
    margin-top:67px;
    box-sizing: border-box;
    width:100%;
    padding:30px 26px 34px 21px;
    height:810px;
    background: url('../img/tablebg.png');
    background-size: 100% 100%;
}
.table table{
    
    width: 100%;
    height:100%;
    font-size: 18px;
    background: #fff;
    border-right:1px solid #e2313e;
    border-top:1px solid #e2313e;
}
.table table td{
    font-size: 16px;
    border-left:1px solid #e2313e;
    border-bottom:1px solid #e2313e;
    height:49px;
}
.table table td.grayBg{
    background: #f6f6f6;
}
.table table td.fontL{
    font-size: 18px;
}
.table table th{
    border-left:1px solid #e2313e;
    height:49px;
    background: #fcc300;
    color:#ec1421;
}
.table table td button{
    
    color:#fff;
    width:85px;
    height:34px;
    border-radius: 17px;
}
.table table td button.watch{
    background: #fa0331;
}
.table table td button.appoint{
    background: #a83bfc;
}
/*城市 style*/
ul.cities li{
    float:left;
    width:135px;
    height:54px;
    margin:6px 5px;
} 
ul.cities li button{
    font-size: 20px;
    color:#c04700;

    width: 100%;
    height:100%;
    background:url('../img/button.png');
    background-size: 100% 100%;
}
ul.cities li button:hover{
    background:url('../img/button_hover.png');
    color:#FFF;
}
.books li{
    float:left;
    width:232px;
    height:275px;
    margin-right:23px;
    margin-bottom:78px;
}
/*底部样式*/
.footer{
    box-sizing: border-box;
    padding-top:27px;
    width:100%;
    background:#151515;
    height:133px;
}
.footer .main{
    width:1033px;
    margin:0 auto;
}
.footer .links{
    margin-left:81px;
}
.footer .links li a{
    font-size: 14px;
    line-height: 24px;
    padding:0 10px;
    color:#fff;
}
.footer .links li+li a{
    border-left:1px solid #fff;
}
.footer p{
    text-align: center;
    font-size: 14px;
    line-height: 24px;
    color:#fff;
}