::after, ::before {
    box-sizing: border-box;
}


.radio{
    position: relative;
    display: inline-block;
    width: 16px;
    height: 16px;
    border-radius: 100px;
    background-color: #fff;
    transition: .3s;
    border: 1px solid #d9d9d9;
}


.radio:after {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top:-4px;
    margin-left:-4px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background:  #1890ff;
    content: '';
    visibility:hidden;
}

.radio.check{
    border: 1px solid #1890ff;
}


.radio.check:after {
    visibility:visible;
}

