.idea/*
AwesomeProject/.expo/
AwesomeProject/node_modules
AwesomeProject/.env.local
AwesomeProject/.env.development.local
AwesomeProject/.env.test.local
AwesomeProject/.env.production.local

AwesomeProject/npm-debug.log*
AwesomeProject/yarn-debug.log*
AwesomeProject/yarn-error.log*
.DS_Store
Loan/ios/*
Loan/android/*
h5_backup/*
**/*/node_modules
.DS_Store
node_modules
/dist

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*
