*{
    padding: 0px;
    margin: 0px;
}
body{
    background: #f1f1f1;
}
a{
    text-decoration: none;
    color:#646464;
}
.fr{
    float:right;
}
.fl{
    float:left;
}
.header{
    text-align: center;
    font-size: 0.5rem;
    height: 1rem;
    position: relative;
    line-height: 1rem;
    border-bottom: 1px solid #e1e1e1;
}
.header .back{
    position: absolute;
    left: 0.3rem;
    font-weight: bold;
    color:#82E3CA;
}
.content{
    background: #fff;
    margin-top:0.5rem;
}
.content div{
    /*border-top:1px solid red;*/
    border-bottom:1px solid #e1e1e1;
    position: relative;
    height:1.2rem;
}
.content div div.icon{
    text-align: center;
    position: absolute;
    left: 0.3rem;
    top: 0.3rem;
    font-size: 0.5rem;
    width: 0.6rem;
    border:0
}
.content div input{
    /*border:1px solid #000;*/
    height: 1rem;
    width: 100%;
    vertical-align: super;
    -webkit-appearance: none;
    text-shadow: none;
    border: 0;
    outline: 0;
    text-indent: 1.2rem;
    font-size: 0.4rem;
    margin-top: 0.1rem;
}
button.btn{
    width:90%;
    background: #82E3CA;
    text-align: center;
    color:#fff;
    font-size: 0.35rem;
    /*font-weight: bold;*/
    height:1rem;
    line-height: 1rem;
    margin-left: 5%;
    border-radius: 0.2rem;
    outline: none;
    box-shadow: none;
}
.btn.active{
    background-color: #31D6A4;
}
#codeBtn{
    position: absolute;
    right:0rem;
    top:0rem;
    height: 1rem;
    border: 0;
    outline: 0;
    font-size: 0.4rem;
    margin-top: 0.2rem;
    line-height: 1rem;
    width: 35%;
}
.disabled{
    color:#646464
}
/*贷款主页面*/
.main{
    background-color: #31D6A4;
    font-size: 0.4rem;
    text-align: center;
}
.main p{
    color:#f1f1f1;
    padding-top:0.2rem;
    padding-bottom:0.2rem;

}
.main p.title{
    color:#fff;
    font-size:0.6rem;
}
.main .range{
    width:80%;
    margin-left:10%;
    margin-right:10%;
    padding-bottom:1rem;
}
.more{
    height:0.8rem;
    line-height:0.8rem;
    font-size: 0.3rem;
    background-color: #ffffff;
    color:#808080;
    padding-left:0.3rem;
    padding-right:0.3rem;
    margin-top:0.15rem;
}
.more .title{

}
.more .description{
    float:right;
}
.highlight_white{
    color:#000;
}
.highlight_green{
    color:#31D6A4;
}
.agreement{
    height:0.8rem;
    line-height:0.8rem;
    font-size: 0.2rem;
    color:#808080;
    padding-left:0.3rem;
    padding-right:0.3rem;
    margin-top:0.45rem;
}
.submit{
    /*margin-top:0.4rem;*/
}
.footer{
    width: 100%;
    font-size: 0.3rem;
    position:fixed;
    bottom:0px;
    right:0px;
    height:1rem;
    border-top:1px solid #82E3CA;
    line-height: 1rem;
}
.footer span{
    width: 50%;
    color:#82E3CA;
    float: left;
    text-align: center;
}
.footer span+span{
    border-left:1px solid #82E3CA;
    margin-left:-1px;
}
.attachment{
    margin-left: 5%;
    width: 90%;
    margin-right: 5%;
    margin-top: 0.5rem;
}
.radius{
    background: #82e3ca;
    color: #fff;
    padding: 3px 5px;
    border-radius: 15px;
}